/* Estilo a parte del contenedor de Bootstrap */

.contenedor {
    background-color: #FAFAFA;
    border: 5px solid #283655;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}


/* Estilo para el contenedor de registro */

.contenedorReg {
    width: 50%;
    margin: 2% 25% 2% 25%;
}


/* Titulo */

h1 {
    margin-top: 15px;
    color: #FAFAFA;
    text-align: center;
    font-weight: bold;
}


/*Logo Buap*/

img {
    margin-left: 10%;
}


/*Botones primarios (Azules)*/

.botonPrimario {
    border: 2px solid #123C5D;
    color: #123C5D;
}

.botonPrimario:hover {
    background-color: #123C5D;
    color: #FAFAFA;
    font-size: 20px;
}