<h1>
    Mis proyectos:
</h1>
<br>
<div class="container contenedor">
    <img src="../../../assets/img/logoBuap.png" alt="logoBuap" class="img-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Materia</td>
                <td>Progreso</td>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeInLeft fast" *ngFor="let item of listaProyectos; let i = index;">
                <td><a (click)="verProyecto(i)">{{item.nombre}}</a></td>
                <td>{{item.materia}}</td>
                <td>
                    <div class="barraFondo">
                        <div class="barraColor" [ngStyle]="{'width.%':item.progreso, 'background-color': getColor(i)}">
                            {{item.progreso}}%
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="addBtn" (mouseover)="rutaAdd = '../../../assets/img/addBlanco.png'" (mouseleave)="rutaAdd = '../../../assets/img/add.svg'"><img [src]="rutaAdd">Añadir Proyecto</button>
    <button class="exitBtn" (click)="regresarASesion()" (mouseover)="rutaExit = '../../../assets/img/salirBlanco.png'" (mouseleave)="rutaExit = '../../../assets/img/salir.svg'"><img [src]="rutaExit">Salir</button>
</div>