    /*Logo Buap*/
    
    img {
        margin: 10px 40% 10px 41%;
    }
    /*Columnas*/
    
    .doing,
    .done {
        border-left: 5px solid #123C5D;
    }
    
    .col h3 {
        text-align: center;
        font-weight: bold;
    }
    /*Boton de Ver mas*/
    
    #btnVm {
        background-color: #FAFAFA;
        color: #123C5D;
        border: 2px solid #123C5D;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0 10px 0;
    }
    
    #btnVm:hover {
        background-color: #123C5D;
        color: #FBFBFB;
        border-radius: 5px;
    }
    /*Estilo para el botón de añadir proyecto*/
    
    .addBtn {
        background-color: #FAFAFA;
        color: #123C5D;
        border: 2px solid #123C5D;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0 10px 0;
    }
    
    .addBtn img {
        margin-left: 0;
        margin-right: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .addBtn:hover {
        background-color: #123C5D;
        color: #FBFBFB;
        border-radius: 5px;
        font-size: 20px;
    }
    /*Estilo para el botón de salir*/
    
    .exitBtn {
        background-color: #FBFBFB;
        color: #AA4F34;
        cursor: pointer;
        border: 2px solid #AA4F34;
        border-radius: 5px;
        margin: 0 0 0 10px;
    }
    
    .exitBtn img {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
    
    .exitBtn:hover {
        font-size: 20px;
        border-radius: 5px;
        background-color: #AA4F34;
        color: #FBFBFB;
    }